<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="">

  </head>
  <body>
    <div id = "content">
      <header>
        <div id= "title">
          <span id="neo">NEO</span><span id="tracker">TRACKER</span>
        </div>
        <div id = "links">
          <a href="/">home</a>
          <a href="/">members</a>
          <a href="/">neomail</a>
        </div>
        <div id = "user">
          welcome user <a href="/logout">(logout)</a>
        </div>
      </header>


      <div id = "stats">
        <h1>Yesterday's Stats</h1>
        <p>
          <%= yesterday.posts %> posts made
        </p>
        <p>
          <%= yesterday.users.length %> users posted
        </p>
        <p>
          with <%= yesterday.newMembers.length %> new members.
        </p>
      </div>

      <div id="members">
        <h1>Stats</h1>
        <p>filter for</p>

        <svg width="100%" height="50%"></svg>
      </div>



    </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
    console.log("hello");
       console.log(<%- yesterday.posts %>);
    </script>
  </body>

</html>
