<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="">
  </head>
  <body>
    <div id = "content">
      <header>
        <div id= "title">
          <span id="neo">NEO</span><span id="tracker">TRACKER</span>
        </div>
        <div id = "links">
          <a href="/">home</a>
          <a href="/">members</a>
          <a href="/">neomail</a>
        </div>
        <div id = "user">
          welcome user <a href="/logout">(logout)</a>
        </div>
      </header>


      <div id = "todayStats">
        <h1>Today's stats</h1>
      </div>



    </div>

  </body>
</html>
