@font-face {
  font-family: Franklin;
  src: url('font/FranklinGothicBook.otf');
}

* {
  font-family: Franklin;
  color: #969688;
}

b {
  color: #e2b51c;
}

a {
  color: #6a6955;
  text-decoration: none;
}

a:hover {
  color: #e2b51c;
}

#content {
  max-width: 50%;
  margin: 0 auto;
}

header #title {
  font-size: 60px;
}

#title #neo {
  color: #e2b51c;
}

#title #tracker {
  color: #6a6955;
}

header #links a {
  display: inline-block;
  float:left;
  margin-right:50px;
  text-decoration: none;
}

header {
  padding-bottom: 30px;
  border-bottom: 1px solid #6a6955;
  margin-bottom: 2em;
}

header #user {
  display: inline-block;
  float:right;
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: #6a6955;
}

h1 a {
    color: #c3c3bb;
}


/* Style The Dropdown Button */
.dropbtn {
    min-width: 300px;
    border-radius: 50px;
    border: 1px solid #969688;
    background-color:white;
    border-radius: 3px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    float:left;
    margin-left:1.5em;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content a {
    /* color: black; */
    text-align: center;
    padding: 10px;
    width: 300px;
    text-decoration: none;
    display: block;
    border-left: 1px solid #969688;
    border-right: 1px solid #969688;
  }

.dropdown-content a:last-child {
  border-bottom: 1px solid #969688;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



.arrow-down {
  margin-top: 10px;
  margin-left: 270px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #969688;
}

span.number {
    font-size: 50px;
    color: #e2b51c;
}

input.button {
    margin-top: 20px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #e2b51c;
    border-radius: 11px;
}

input {
	 border: none;
}

input:focus, input:focus {
		color: #e2b51c;
    border-bottom: 2px solid #e2b51c;
		outline:none;
		transition: 0.2s;
}

input[type="text"] {
    margin-bottom: 1em;
}

textarea.textContent {
    border-radius: 10px;
    padding: 10px 20px;
    width: 300px;
    height: 200px;
    resize: none;
   overflow: auto;
   outline: none;
}
